<div class="related">
  <h1>Categories:</h1>
  {% assign listed_posts_categories = post.categories | split: ' ' %}

  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}

    <ul class="related-posts">
    {% for category in categories %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}/menu/categories/#{{ category | url_encode}}">{{category}}</a>
        </h3>
      </li>
      <!--
      {% unless forloop.last %}
        &nbsp;
      {% endunless %}
      -->
    {% endfor %}
    </ul>
</div>