<div class="post-date">Feel free to share!</div>
  <div class="sharing-icons">
    <div class="fb-share-button" data-href="{{ site.github.url }}" data-layout="button" data-size="large" data-mobile-iframe="false">
      <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}%2F&amp;src=sdkpreparse">Share</a>
    </div>
    {% comment %} <a data-pin-do="buttonPin" data-pin-tall="true" data-pin-save="true" href="https://www.pinterest.com/pin/create/button/?url={{ site.github.url }}{{ page.url }}&media={{ site.github.url }}/assets/img/{{ page.image.feature }}&description={{ page.title }}"></a> {% endcomment %}
    <a data-pin-do="buttonPin" data-pin-tall="true" data-pin-save="true" href="https://www.pinterest.com/pin/create/button/?url={{ site.github.url }}{{ page.url }}"></a>
  </div>
</div>